{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section id="data-view">
            <h1>Task Management</h1>
            {% if registered %}
            <div class="alert alert-success" role="alert">
                Thank you for registering!
            </div>
        
            <form action="/usermodule/">
                <input type="submit" class="btn btn-success" value="Return to Administration">
            </form>
            {% else %}
                    

        <span class="span12">
            <div class="data-table-container table table-striped table-hover">
            
                <form role="form" id="complain_form" method="post" action="/project/add-task/">

                    {% csrf_token %}
                    {{ form.as_table }}
                    <br>
                    <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Register" />
                    
                </form>
            
                {% endif %}
                <div style="clear: both;"></div>
            </div>
        </span>

    <!-- Modal 
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Select PSU</h4>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>    
    -->
    </section>
{% endblock %}

{% block additional-javascript %}

<!-- <script type="text/javascript" src="/static/js/jquery.searchable-ie-1.1.0.min.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/usermodule_userprofile.js"></script>     -->

    
{% endblock %}

{% block additional-headers %}
    <style >
    .data-table-container table {
        clear: both;
        display: table !important;
        overflow-x: auto;
        width: 98% !important;
    }

    .highlight { background-color: #D9EDF7; }

    .table th, .table td {
        border: 1px solid #dddddd !important;
    }

    tr:hover {
        background-color: #ffff99;
    }

    </style>
    
{% endblock %}
