{% extends 'base.html' %}

{% block additional-headers %}
    <style >
    .data-table-container table {
        clear: both;
        display: table !important;
        overflow-x: auto;
        width: 98% !important;
    }

    .table th {
        border: 1px solid #dddddd !important;
        text-align:center;
         background-color: greenyellow;
        border-spacing: 200px;
    }
    .table td{
        border: 1px solid #dddddd !important;
        text-align:left;
         border-spacing: 200px;
        background-color: lightgrey;
    }
    #container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}



    </style>
{% endblock %}

{% block content %}
<section id="data-view">
    <!--<span class="span12">-->
        <div class="row">
              {% if user.is_authenticated %}
              <h1>Dash Board</h1>
                {% if admin %}
                    <form action="/usermodule/register">
                        <input type="submit" class="btn btn-success" value="Register User">
                    </form>
                    <br>
                {% endif %}
                <form id="report_form" method="POST" class="form-inline" action="/project/report/agents">
                    {% csrf_token %}
                    <div class="form-group">
                    <label>Date Range</label>
                    <div class="input-group input-daterange">
                        <input type="text" id="datepicker1" name="start" class="datepicker" >
                        <span class="input-group-addon">to</span>
                        <input type="text" id="datepicker2" name="end" class="datepicker">
                    </div>
                    </div>

  <!--
		{% if curr_user_role != 'bKash CS Agent' %}
                    <div class="form-group">
                        <label>Agent</label>
                        <select class="form-control" id="agent_id" name="agent_id">
                          <option value="custom">Select an Agent</option>
                          {% for agent in userlist %}
                          <option value="{{agent.user.id}}">{{agent.user.username}}</option>
                          {% endfor %}
                        </select>
                    </div>
		{% endif %}
		-->
                    <div class="form-group">
                        <input type="hidden" name="export" value="export">
                        <input type="submit" style="position:relative;left:10px;top:8px;" class="btn btn-lg btn-primary" onclick="filterDownload(event);" name="submit" value="Search" />
                      <!--  <input type="submit" style="position:relative;left:10px;top:8px;" class="btn btn-lg btn-primary" name="export_trigger" value="Export" /> -->
                    </div>
                </form>
                <br>

                  <div id="container"></div>




                <div id="report_container">
                <table border="1" class="table" id="report_table">

                {% for data in data_list %}
                  <tc>

                    <td style="text-align:center">{{data.requests}}</td>

                  </tc>

                {% endfor %}
                 <tr>
                    <th>Not Executed</th>
                    <th>Executed</th>
                    <th>Escalated</th>
                    <th>Total Pending</th>
                    </tr>




                </table>
                </div>

                    <div id="report_container1">
                <table border="1" class="table" id="report_table1">

                {% for data in data_list1 %}
                  <tc>

                    <td style="text-align:center">{{data.ro}}</td>
                    <td style="text-align:center">{{data.rr}}</td>
                    <td style="text-align:center">{{data.aht}}</td>
                    <td style="text-align:center">{{data.awt}}</td>
                  </tc>

                {% endfor %}
                 <tr>
                    <th>Request Replied</th>
                    <th>Request Offered </th>
                     <th>Average Handle Time </th>
                     <th>Average Waiting Time </th>

                    </tr>




                </table>
                </div>
              {% else %}
                You are not not logged in please <a href="/usermodule/login/">login</a>
              {% endif %}
              <div style="clear: both;"></div>
        </div>
        <div id="client-side-filter"></div>
        <div style="float:left">
            <div id="main"></div>
        </div>
</section>
{% endblock %}

{% block additional-javascript %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="/static/scripts/datatable.aggregator.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var dateObj = moment();
	var prevDateObj = moment().subtract(7,'d');



        function cb(obj) {
            $('#datepicker1').val(obj.format('YYYY-MM-DD HH:mm:ss'));
        }

        function cb2(obj) {
            $('#datepicker2').val(obj.format('YYYY-MM-DD HH:mm:ss'));
        }

        $('#datepicker1').daterangepicker({
            singleDatePicker: true,
            timePicker24Hour: true,
            timePicker: true,
            showDropdowns: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss'
            },
        });

        $('#datepicker2').daterangepicker({
            singleDatePicker: true,
            timePicker24Hour: true,
            timePicker: true,
            showDropdowns: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss'
            },
        });

        cb(prevDateObj);
        cb2(dateObj);

        table = $('#report_table').DataTable({
		"columnDefs": [
        	    {"className": "dt-center", "targets": "_all"}
      		],
        	"pageLength": 25,
		drawCallback: function () {
		var api = this.api();
		$("tfoot tr td:nth-child(1)").html(
			api.row ( 1 ).data().sum()
		);

	}
    });



});

function filterDownload(e)
    {
        e.preventDefault();
        var start = $('#datepicker1').val();
        var end = $('#datepicker2').val();
        var agent_id = 'custom';
	{% if curr_user_role != 'bKash CS Agent' %}
	   agent_id = $('#agent_id').val();
	{% endif %}
        color_class = '';
        if (!start || !end) {
          alert("Both Dates must have value")
        }
        var order = 'asc';

        if (start && end ) {
            $.ajax({
                type: "POST",
                url:"/project/report/agents",
                data: {start:start, end:end, agent_id:agent_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(response){
                    var table_html = '<table border="1" id="report_table" class="table"><thead><tr>' +
                                      '<th>Date</th>' +
                                      '<th>bKash Agent Name(Emp)</th>' +
                                      '<th>Total Login Time</th>' +
                                      '<th>AHT(Average Handled Time)</th>' +
                                      '<th>Request Offered</th>' +
                                      '<th>Request Replied</th>' +
                                    '</tr></thead><tbody>';
                    if (response.length > 0){
                        response.forEach(function(option) {
                            var row = '<tr>'+
                                        '<td>'+option.transaction_date_time+'</td>'+
                                        '<td>'+option.username+'</td>'+
                                        '<td>'+option.total_log_time+'</td>'+
                                        '<td>'+option.avg_handled_time+'</td>'+
                                        '<td>'+option.request_offered+'</td>'+
                                        '<td>'+option.request_replied+'</td>'+
                                      '</tr>';
                            table_html += row ;
                        });
                        table_html += '</tbody></table>' ;
                        // table.destroy();
                        $("#report_container").empty();
                        $("#report_container").append(table_html);
                    }else{
                        $("#report_container").empty();
                    }
                }
,               error: function(response){
                    console.log("Error Occured");
                }
            }); // end-ajax
        }
    }




    Highcharts.chart('container', {

    title: {
        text: 'Total request (Based on Last 7 days)'
    },

xAxis: {
    categories: ['Apples', 'Bananas', 'Oranges']
},

    yAxis: {
        title: {
            text: 'Request Count'
        },
        // tickInterval: 20
        categories: ['0','20','40','60','80','100',200]
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            //pointStart:
        }
    },

    series: [{
        name: 'Requests',
        //data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        data: {{ data_list2 }}
    }
      ]

});
</script>

{% endblock %}
