{% extends 'base.html' %}
{% load i18n %}
{% block content %}
   <!-- <meta http-equiv="refresh" content="100;url=http://localhost:8888/project/new-complain/" />-->
    <section id="data-view">

            <h1>Request Details</h1>
	    <p><b><a href="#" style="font-size: 20px;" onclick="process(event)">Back</a>
<!--<a href="#" style="font-size: 20px;" onclick="process(event)">Home</a>--></p></b>
            {% if complain.locker %}
            <div class="alert alert-danger" role="alert">
                This Request is locked by {{complain.locker}}

            </div>
            {% endif %}
             {% if curr_user_role != 'bKash CS Agent' %}
                  <p><b><a href="#" style="font-size: 20px;" onclick="process(event)">Unlock</a>
                      {% endif %}

            {% if registered %}
            <div class="alert alert-success" role="alert">
                Thank you for registering!
            </div>
        
            <form action="/usermodule/">
                <input type="submit" class="btn btn-success" value="Return to Administration">
            </form>
            {% else %}
        <span class="span12">
            <div class="data-table-container table table-striped table-hover">
                <table border="1" class="table">

                  <tr>
                    <th style="text-align:left">Ticket ID</th>
                    <td style="text-align:left">{{ complain.pin.usermoduleprofile.branch.branch_id }}{{ complain.id|stringformat:"05d" }}</td>
                  </tr>
                  <tr>
                    <th style="text-align:left">Account No.</th>
                    <td style="text-align:left">{{complain.account_no}}</td>
                  </tr>
                
                  <tr>
                    <th style="text-align:left">Service Type</th>
                    <td style="text-align:left">{{complain.service_type}}</td>
                  </tr>

                  <tr>
                    <th style="text-align:left">Customer Name</th>
                    <td style="text-align:left">{{complain.customer_name}}</td>
                  </tr>

                  <tr>
                    <th style="text-align:left">Account Balance</th>
                    <td style="text-align:left">{{complain.balance}}</td>
                  </tr>

                  <tr>
                    <th style="text-align:left">ID Type</th>
                    <td style="text-align:left">{{complain.id_type}}</td>
                  </tr>

                  <tr>
                    <th style="text-align:left">ID Number</th>
                    <td style="text-align:left">{{complain.id_no}}</td>
                  </tr>
                  {% if complain.service_type == "Transaction Confirmation" %}
                  <tr>
                    <th style="text-align:left">Transaction ID</th>
                    <td style="text-align:left">{{complain.transaction_id}}</td>
                  </tr>
                  
                  <tr>
                    <th style="text-align:left">Transaction Date &amp; Time</th>
                    <td style="text-align:left">{{complain.transaction_date_time|date:"D d M Y H:i"}}</td>
                  </tr>

                  <tr>
                    <th style="text-align:left">Transaction Amount</th>
                    <td style="text-align:left">{{complain.transaction_amount}}</td>
                  </tr>
                  {% endif %}
                  <tr>
                    <th style="text-align:left">Remarks of CSA/Customer</th>
                    <td style="text-align:left">{{complain.remarks_of_csa_customer}}</td>
                  </tr>

		  {% if complain.execution_status == "Executed" or complain.execution_status == "Not Executed"  or complain.execution_status == "Escalated" %}
                  <tr>
                    <th style="text-align:left">Status</th>
                    <td style="text-align:left">{{complain.execution_status}}</td>
                  </tr>    
                  {% endif %}
		  {% if complain.execution_status == "Not Executed" %}
                  <tr>
                    <th style="text-align:left">Not Execute Reason</th>
                    <td style="text-align:left">{{complain.not_execute_reason}}</td>
                  </tr>    
                  {% endif %}
                 {% if complain.execution_status == "Ticket Forward" %}
                  <tr>
                    <th style="text-align:left">Not Execute Reason</th>
                    <td style="text-align:left">{{complain.not_execute_reason}}</td>
                  </tr>
                  {% endif %}
                  {% if not show_status_dropdown %}
                  <tr>
                    <th style="text-align:left">Status</th>
                    <td style="text-align:left">{{complain.execution_status}}</td>
                  </tr>    
                  {% endif %}
                </table>
		{% if complain.execution_status != "Executed" and complain.execution_status != "Not Executed" and complain.execution_status != "Ticket Forward" %}
                <form role="form" id="complain_form" method="post" action="/project/view-complain/{{id}}/">

                    {% csrf_token %}
                    {{ complain_form.as_table }}
                    <br>
                    <input type="button" class="btn btn-primary btn-lg" name="submit" value="Cancel" onclick="process(event)" />
                    <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Save" />
                    
                </form>
                {% endif %}
            
                {% endif %}
                <div style="clear: both;"></div>
            </div>
        </span>

    <!-- Modal 
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Select PSU</h4>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>    
    -->
    </section>
{% endblock %}

{% block additional-javascript %}
<script type="text/javascript">
$(document).ready(function(){
  if ($('#id_execution_status').length ){
    // For users who have complain status change permission
    if( $('#id_execution_status').val() === 'Executed'){
      $( "#id_not_execute_reason" ).hide();
      $("label[for='id_not_execute_reason']").hide();
    }else if( $('#id_execution_status').val() === 'Not Executed'){
      $( "#id_not_execute_reason" ).hide();
      $("label[for='id_not_execute_reason']").hide();
    }

    else{
      $( "#id_not_execute_reason" ).hide();
      $("label[for='id_not_execute_reason']").hide();
    }
  }else{
    // For users who do not have complain status change permission
    var table_execution_status = "{{complain.execution_status}}";
    if( table_execution_status === 'Executed'){
      $( "#id_not_execute_reason" ).hide();
      $("label[for='id_not_execute_reason']").hide();
    }else if( $('#id_execution_status').val() === 'Not Executed'){
      $( "#id_not_execute_reason" ).show();
      $("label[for='id_not_execute_reason']").show();
    }
  }

  // For users who have complain status change permission, triggers on dropdown change
  $( "#id_execution_status" ).change(function() {
    //alert('here');
    if( $('#id_execution_status').val() === 'Executed'){
      $( "#id_not_execute_reason" ).hide();
      $("label[for='id_not_execute_reason']").hide();
    }else if( $('#id_execution_status').val() === 'Not Executed'){
      $( "#id_not_execute_reason" ).show();
      $("label[for='id_not_execute_reason']").show();
    }
    else{
      $( "#id_not_execute_reason" ).hide();
      $("label[for='id_not_execute_reason']").hide();
    }
  });
});

setInterval(function auto_process() {
    console.log('GGWP');
  //e.preventDefault();
  console.log("{{complain.id}}/{{request.user.id}}");
  window.location.href = "/project/unlock-complain/{{complain.id}}/{{request.user.id}}/";
}, 10000)

function process(e) {
    //console.log('');
  e.preventDefault();
  console.log("{{complain.id}}/{{request.user.id}}");
  window.location.href = "/project/unlock-complain/{{complain.id}}/{{request.user.id}}/";
}
</script>
{% endblock additional-javascript %}

{% block additional-headers %}
    <style >
    .data-table-container table {
        clear: both;
        display: table !important;
        overflow-x: auto;
        width: 98% !important;
    }


    .highlight { background-color: #D9EDF7; }

    .table th, .table td {
        border: 1px solid #dddddd !important;
    }

    tr:hover {
        background-color: #ffff99;
    }

    </style>
    
{% endblock %}
