{% extends 'base.html' %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>User Module</title>
    </head>

    <body>
        {% block content %}
        <section id="data-view">


            <span class="span12">
                <div class="data-table-container table table-striped table-hover">

                    <h1>Password Reset: {{reset_user.username}} </h1>
                    {% if invalid %}
                    <p>Your credentials are wrong try again</p>
                    {% endif %}
                    <form id="change_password_form" method="post" action="/usermodule/reset-password/{{id}}/">
                        {% csrf_token %}
                        {{reset_password_form.as_p}}
                        <input type="submit" class="btn btn-primary btn-lg" value="save" />
                    </form>
                    <div style="clear: both;"></div>
                </div>
            </span>

        </section>
    {% endblock %}

    </body>
</html>
